@font-face {
    font-family: "Opel Sans";
    src: url("../fonts/Opel-Sans-Regular.ttf") format("truetype"),
    url("../fonts/Opel-Sans-Regular.woff") format("woff");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Opel Sans";
    src: url("../fonts/Opel-Sans-Italic.ttf") format("truetype"),
    url("../fonts/Opel-Sans-Italic.woff") format("woff");

    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Opel Sans";
    src: url("../fonts/Opel-Sans-Bold.ttf") format("truetype"),
    url("../fonts/Opel-Sans-Bold.woff") format("woff");

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Opel Sans";
    src: url("../fonts/Opel-Sans-Bold-Italic.ttf") format("truetype"),
    url("../fonts/Opel-Sans-Bold-Italic.woff") format("woff");

    font-weight: bold;
    font-style: italic;
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px;
}

.footer {
    border-top: 0;
    margin-top: 120px;
    font-family: 'Opel Sans', serif;
}

.footer h3 {
    color: #fff;
    font-size: 38px;
}

.footer .address + .address {
    border-left: 3px solid #fff;
}

.footer .address {
    color: #fff;
    font-size: 22px;
}

.footer .first-line {
    /*background-color: #B9C9E9;*/
    background-image: linear-gradient(to right, #fff 0, #fff 21%, #B9C9E9 21%, #B9C9E9 100%);
    min-height: 250px;
}

.footer .second-line {
    background-color: #5B81CA;
    min-height: 400px;
}

.footer .container img.girl {
    margin-top: -150px;
    position: absolute;
    left: -50px;
    height: 800px;
}

.footer h2 {
    font-weight: bold;
    color: #243E6E;
    font-size: 54px;
}

.footer .btn-putc {
    font-weight: bold;
    font-size: 24px;
    width: 200px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .footer .container img.girl {
        display: none;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

div.header {
    background-color: #D7E1F3;
    font-family: "Opel Sans", sans-serif;
    min-height: 100px;
}

.p0 {
    padding: 0;
}

p.header, p.header a {
    margin: 0;
    font-weight: bold;

}

.header-9 {
    font-size: 9px;
}

.header-10 {
    font-size: 10px;
}

.header-11 {
    font-size: 11px;
}

.header-12 {
    font-size: 12px;
}

.header-15 {
    font-size: 15px;
}

.header-20 {
    font-size: 20px;
}

.header-block {
    padding: 0;
    min-height: 70px;
    margin: 15px 0 10px;
    color: #243E6E;
}

.header-block a {
    color: #243E6E;
}

.header-block + .header-block {
    padding-left: 10px;
}

.header-block:last-child {
    padding-left: 0;
}

.header-block:first-child {
    border-right: 3px solid #5B81CA;
}

.header-phone + .header-phone {
    padding-left: 30px;
}

.logo-kgsu {
    margin: 12px;
}

.logo {
    margin: 10px 5px;
}

.logo-text {
    margin: 10px 0;
}

.slogan-block {
    margin: 5px;
}

.header-block .btn.btn-putc {
    margin: 5px;
}

.btn.btn-putc {
    background-color: #F85969;
    border-color: #F85969;
    padding: 15px 10px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-putc {
    border: 0;
    padding: 15px 0;
    background-color: #FFF;
    margin-bottom: 0;
}

.navbar-putc li {
    min-width: 135px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Opel Sans', 'Helvetica', serif;
    font-weight: bold;
    font-size: 16px;
}

.navbar-putc li:first-child {
    border-right: 3px solid #003399;
    border-left: 3px solid #003399;
}

.navbar-putc li + li {
    border-right: 3px solid #003399;
}

.navbar-putc .navbar-collapse {
    padding: 0;
}

.navbar-putc .navbar-nav > .active > a,
.navbar-putc .navbar-nav > .active > a:hover,
.navbar-putc .navbar-nav > .active > a:focus {
    color: #003399;
    background-color: #FFF;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #D7E1F3;
}

.navbar-putc .navbar-toggle:hover,
.navbar-putc .navbar-toggle:focus {
    background-color: #FFF;
}

.navbar-putc .navbar-toggle {
    border-color: #003399;
}

.navbar-putc .navbar-toggle .icon-bar {
    background-color: #003399;
}

.slider {
    height: 500px;
    background-image: linear-gradient(to right, RGBA(91, 129, 202, 1) calc(5% + 825px), #D7E1F3 calc(5% + 825px), #D7E1F3 100%);
}
.slider a:hover,
.slider a:active,
.slider a:focus{
    color: #fff;
    text-decoration: none;
}

#slider-carousel .item {
    background-color: RGBA(91, 129, 202, 1);
    max-width: 825px;
}

#slider-carousel .item:after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, RGBA(91, 129, 202, 1) 10%, RGBA(91, 129, 202, 0) 70%, RGBA(91, 129, 202, 0) 100%);
}

#slider-carousel .owl-stage-outer {
    max-width: 825px;
    margin-left: 5%;
    height: 500px;
    background-color: RGBA(91, 129, 202, 1);
}

.call-me-panel {
    border-radius: 0;
    border: 5px solid #fff;
    background-color: #181940;
    position: absolute;
    right: 50px;
    z-index: 99;
    top: 25px;
    height: 450px;
    width: 300px;
    color: #fff;
    font-family: 'Opel Sans', serif;
}

.call-me-panel label,
.ask-me-row label,
.consultation-row label {
    font-weight: normal;
    background-color: #D7E1F3;
    border-radius: 10px;
    font-size: 10px !important;
    text-align: left;
    padding: 15px 15px 15px 25px;
}

.call-me-panel input,
.ask-me-row input,
.ask-me-row textarea,
.consultation-row input,
.consultation-row textarea {
    background-color: #D7E1F3;
}

.call-me-panel label input,
.ask-me-row label input,
.consultation-row label input {
    margin-left: -15px;
    top: 3px;
    position: relative;
}

.call-me-panel .btn.btn-putc {
    padding: 0;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
}

label.red {
    color: red !important;
}

.alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 600px;
    max-width: 600px;
    opacity: 0.9 !important;
    z-index: 9999;
}

.main-page h2 {
    font-family: "Open Sans", serif;
    font-size: 60px;
    color: #F85969;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-page label {
    font-family: "Open Sans", serif;
    font-size: 32px;
    color: #243E6E;
    font-weight: bold;
}

.consultation-row,
.ask-me-row {
    background-color: #5B81CA;
    padding-bottom: 15px;
}

.filter-form {
    background-color: #5B81CA;
    padding-bottom: 15px;
}

.filter-form .btn-putc{
    height: 34px;
    border-radius: 5px;
    padding: 5px 10px;
}

.consultation-row h3,
.ask-me-row h3,
.filter-form h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

.consultation-row .btn.btn-putc {
    padding: 0 25px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
}

.btn.btn-login{
    padding: 5px 0;
    height: 30px;
    width: 30px;
}

.consultation-row input[type=text] {
    margin-top: 8px
}

.subject-block h2 {
    font-size: 56px;
}

.subject-block .subject-item {
    margin-bottom: 30px;
    min-height: 225px;
}

.subject-block .subject-title {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #3B5999;
    font-family: "Open Sans", serif;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    right: 50px;
    text-shadow: white 2px 2px 0, white -2px -2px 0, white -2px 2px 0, white 2px -2px 0;
}

.review-row {
    padding-top: 25px;
    padding-bottom: 25px;
}

.review-row .review {
    padding: 15px;
    background-color: #D7E1F3;
    border-radius: 15px;
    margin-bottom: 15px;
    word-break: break-word;
}

.breadcrumb{
    background-color: #D7E1F3;
}
.one-news .img-block{
    padding: 0;
    /*width: 100%;*/
    height: 220px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.one-employee .img-block{
    padding: 0;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.slider h2{
    position: relative;
    height: 0;
    z-index: 9;
    margin: 0;
    top: 70px;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    width: 600px;
}
.panel-putc > .panel-heading {
    color: #243E6E;
    background-color: #D7E1F3;
    border-color: #D7E1F3;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 768px;
        margin: 30px auto;
    }
}